body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: end;
}

.button-container button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.button-container button:hover {
    background-color: #777;
}

main {
    flex: 1;
    padding: 2em;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.search-container {
    width: 40%;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px 70px;
    text-align: center;
    border: none;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

td button:hover {
    background-color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}
