<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-badge slot="end">22</ion-badge>
        <ion-icon name="notifications-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/logo/logo_usina.png" alt="Logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="header-user">
  <div class="user-info">
    <ion-avatar>
      <img [src]="infoUser.userImageUrl" alt="User Image"  />
    </ion-avatar>
    <div class="name-and-age">
      <div class="user-name">{{infoUser.userName}}</div>
      <div class="user-age">Nivel {{infoUser.userNivel}}</div>
    </div>
  </div>

  <div class="buttons-header">
    <div class="button-container">
      <ion-button fill="clear" class="button-action-header">
        <ion-icon slot="start" name="body-outline"></ion-icon>
        MEU CORPO
      </ion-button>
      <ion-button fill="clear" class="button-action-header">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        OBJETIVOS E CONQUISTAS
      </ion-button>
    </div>
  </div>
</div>